*{
  font-family: "VT323", Arial, Helvetica, sans-serif;
  font-size: large;
  color:rgb(72, 13, 13);
  background-color: rgb(229, 97, 97);
}

.container{
  height:550px;
  width: 354.5px;
  background-color: aqua;
  margin: 50px auto;
  padding: 15px;
  border-style: groove;
  border-width: 4px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 5px rgb(49, 89, 76);
  

  
}

#screen{
  display: flex;
  height: 100px;
  width: 330px;
  background-color:rgb(101, 247, 230);
  margin: 10px auto;
  margin-bottom: 15px;
  border-style: groove;
  border-width: 4px;
  border-radius: 25px;  
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#output{
  color:rgba(72, 13, 13, 0.69);
  height: 60px;
  width: 95%;
  background-color:rgb(15, 225, 201);
  font-size: 60px;
  text-align: end;
  text-shadow: 10px 10px 10px;
  padding-right: 10px;


}

#buttons{
  background-color:rgb(15, 225, 201);
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 330px;
  margin: 10px auto;
  border: 4px groove white;
  border-radius: 15px;

  justify-content: center;
  align-items: center;
  

 





}

.button{
  height: 65px;
  width: 65px;
  margin: 5px; 
  background-color: rgb(249, 189, 189);
  border-style: double;
  border-radius: 10px;
  cursor: pointer;
  

 
  

}
.button:hover{
  
  
  border: solid rgb(118, 11, 11);
  
}
.button:active{
  font-size: 25px;
  background-color: rgb(247, 178, 167);
  box-shadow: 0px 0px 7px 1px rgb(247, 178, 167);
  transition: .2s;
}

p{
  color:rgba(72, 13, 13, 0.69);
  height: 30px;
  width: 200px;
  margin: 0px auto;
  padding-top: 10px;
 text-align: center;
 text-shadow: 5px 5px 10px;
 background-color:rgba(15, 225, 200, 0.448);
 border-radius: 3px;
}
